/* .tiledBackground {
  background-image: url("img/Screenshot\ 2026-03-11\ at\ 2.25.22\ PM.png");
  background-size: contain;
background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  border: 2px solid;
  color: pink;
  background-position: -50px;
}

.img {
     width: 600px;
 

}
img {
       max-width: 100%;
  height: auto;

    object-fit: cover;
}

body {
  background: purple;
}

@media (max-width: 900px) {
  body {
    background: green;
  }
}

@media (max-width: 800px) {
  body {
    background: brown;
  }
}

@media (max-width: 700px) {
  body {
    background: pink;
  }
}

@media (max-width: 600px) {
  body {
    background: blue;
  }
}

@media (max-width: 500px) {
  body {
    background: orange;
  }
} */
/* 
header {
  background-image: url("img/pexels-hans-martha-399489-1059823\ \(1\).jpg");
    background-size: cover;
    background-position: center;
    aspect-ratio: 16/9;
     flex-direction: column;
    align-items: baseline;
    
}
/* 
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.1rem;
   
  */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

img {
    max-width: 100%;
    display: block;
    border-radius: 20%;
 }

   /* .hero img {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
  }  */

  .hero {
    padding: 10px;
    display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .hero-img {
    padding:  10px 50px;
    background-image: url("img/pexels-hans-martha-399489-1059823\ \(1\).jpg");
    background-size: cover;
    background-position: center;
    min-height: 350px;
     width: 90%;
    display: flex;
     align-items: flex-end;
     justify-content: center;
    margin: 0 auto;
    color: aliceblue;
  }


  .about-me {
    padding: 0.4rem;
    display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
     gap: 5px;
  }

  .icons {
    font-size: 2rem;
     display: flex;
    justify-content: center;
     gap: 20px;
  }